<div class="bg_image">
  <div class="bg_textbox">
    <h4>cCYAEH!!へようこそ</h4>
    <p>ここではバイク仲間と繋がる事ができます！</p>
    <p>自分が乗っているバイクと同じ排気量のバイク乗りと繋がりたい</p>
    <p>自分が乗っているバイクと同じバイクに乗っているバイク乗りと繋がりたいと思ったことありませんか？</p>
    <p>ユーザー、排気量、投稿内容で検索する事ができる為、自分が乗っているバイクの排気量と同じバイクを探したり</p>
    <p>投稿内容に記載されていれば乗っているバイクと同じバイクに乗っている仲間に出会える事ができます！</p>
  </div>
</div>