@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.field_with_errors{
  display: contents;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  background-color: #000000;
  border-color: #ffffff;
}

.btn-gradient-flat-welcome {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(#0066ff 0%, #66ccff 100%);
  transition: .4s;
}

.btn-gradient-flat-welcome:hover {
  background-image: linear-gradient(#0066ff 0%, #66ccff 70%);
}

.btn-square-so-pop-search {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #00cc00;/*色*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #008800;/*線色*/
}

.btn-square-so-pop-search:active {
  /*押したとき*/
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.header-menu {
  align-items: center;
}

.header-menu li {
  margin-right: 20px;
}

.plus {
  margin-left: 15px;
}

.circle {
  margin-left: 18px;
}

.home {
  margin-left: 1px;
}

.bell {
  margin-left: 1px;
}

.heart {
  margin-left: 20px;
}

.out {
  margin-left: 20px;
}

.footer-inside {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #000000;

}

.footer-text {
  color: #fff;
}

.size {
  font-size: 40px;
  color: #ffffff;
}

.header-font {
  font-weight: bolder;
  color: #ffffff;
}

.font {
  font-weight: bolder;
  color: #000000;
}