<header class="sticky-top border-bottom border-dark", style="background-color: #000000;">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <%= image_tag 'cCYAEH!!_logo.png', style: "width: 220px;" %>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto header-menu">
          <li><%= render "admins/searches/search" %></li>
          <li><%= link_to '会員一覧', admins_customers_path, class: 'btn-gradient-flat', style: 'background-color: #d2b48c;' %></li>
          <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'btn-gradient-flat',  style: 'background-color: #d2b48c;' %></li>
        </ul>
      </div>
    </nav>
  </div>
</header>